.groupTable {
  width: 100%;
}
.groupTable th {
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #757575;
  border-bottom: 1px solid #E0E0E0;
}
.groupTable td {
  padding: 10px;
  border-bottom: 1px solid #E0E0E0;
}
